{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href={% static  'sorter/style.css' %}>
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <div id="content">
    {% block content %}{% endblock %}
  </div>
</body>

</html>