{% extends "sorter/base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
{% include "sorter/rules.html" %}
<form action="{% url 'sort' %}" method="post" enctype="multipart/form-data">
  <input required type="file" name="array_file">
  {% csrf_token %}
  <select name="worker">
    {% for type in sorters %}
    <option value={{forloop.counter}}>{{type}}</option>
    {% endfor %}
  </select>
  <input type="submit" value="Sort">
</form>
{% endblock  %}