{% extends "sorter/base.html" %}

{% block title %}Result{% endblock %}

{% block content %}
{% if error %}
Please, user proper format!
{% include "sorter/rules.html" %}
{% else %}
<p>
  Original array was:
  {{original_array}}
</p>
<p>
  Sorted array is:
  {{sorted_array}}
</p>
<p>Time passed: {{time_passed}}</p>
{% endif %}
<p>
  <a href={% url 'index' %}>Go back</a>
</p>
{% endblock  %}